/* header{
    display:fixed;
    z-index: 5;
    height: 60px;
    width: 100%;
    background:#000;
    padding: 20px 10px 10px 10px;
    border-radius: 10px;
}
nav .rightSide{
    float: right;
}
nav a{
    text-decoration: none;
    cursor: point;
    margin: 10px;
    color: #fff;
    font-weight: bold;
}
nav ul{
    float: left;
    list-style: none;
}
nav a:hover{
    color: #cccccc;
} */

@media only screen and (max-width: 767px) {
    .navbar-right {
        margin: 0;
        position: absolute;
        right: 0;
        top: 0;
        float: right !important;
        display: block !important;
        height: auto !important;
        overflow: visible !important;
        visibility: visible !important;
        z-index: 10 !important;
    }
    .nav > li > a:hover,
    .nav > li > a:focus {
        background-color: transparent;
        color:  #cccccc !important;
    }
    .nav>li>a {
        position: relative;
        display: inline;
        color: #2874A6;
        font-size: small !important;
    }


}
